@import "variables";
@import "~bootstrap/scss/bootstrap";
@import '~nprogress/nprogress.css';

html {
	scroll-behavior: smooth;
}

.cursor-pointer{
	cursor: pointer!important;
}

@media (max-width: 991px) {
	h1 {
		font-size: 2.5rem;
	}
}
@media (min-width: 992px) {
	h1 {
		font-size: 3.5rem;
	}
}


button {
	&:focus {
		outline: unset;
	}
}

.top-contact {
	background-color: #efefef;
	.muted-icon {
		color : #848484;
		&:hover {
			color : #656565;
			transition:.4s;
		}
	}
}

footer {
	&.footer {
		border-top: 1px solid #f6f6f6;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}