.square-250 {
    opacity: .9;
    transition: .4s;
    cursor: pointer;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding : 0;
    margin-bottom: 20px;
    &:hover {
        opacity: 1;
    }
    a {
        &:hover {
            text-decoration: unset;
        }
    }
    .container-tree {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        &.green {
            background-color: #1b9f4485;
        }
        &.purple {
            background-color:#c244d85c;
        }
        &.black {
            background-color :#00000091;
        }
        width: 100%;
        .title {
            font-size : 30px;
            font-weight: bolder;
            text-align: center;
        }
        .description {
            width: 75%;
            text-align: center;
        }
    }
    .hover {
        margin-top: 20px;
        font-size: 14px;
        position: absolute;
        top: 0;
        display : none;
    }
    &:hover {
        .hover {
            display: block;
            transition: .4s;
        }
    }
    &.compact {
        height: 65px;
        zoom : .85;
        opacity: .85;
        filter: grayscale(100%);
        &:hover { 
            transition : filter .4s;
            filter: grayscale(70%);
        }
        &.active {
            zoom : 1;
            opacity : 1;
            filter: unset;
            -webkit-box-shadow: 0px 0px 17px 0px rgba(0,135,29,1);
            -moz-box-shadow: 0px 0px 17px 0px rgba(0,135,29,1);
            box-shadow: 0px 0px 17px 0px rgba(0,135,29,1);
        }
        .description {
            display: none;
        }
        .hover {
            margin-top: 20px;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            display : block;
        }
        .title {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .square-250 {
        border-radius: unset;
        .container-tree {
            visibility: visible;
            border-radius: unset;
        }
    }
}