
.floating-area {
    position: fixed;
    bottom: 140px;
    right: 40px;
    z-index: 999;
    transition: .4s;
    transform : scale(.95);
    opacity: .7;
    .floating-wpp {
        color: #3fc250;
        font-weight: 800;
        text-decoration: unset;
        .ball {
            position: absolute;
            left: -50px;
            top: -25px;
            border-radius: 100%;
            img {
                height: 75px;
            }
        }
        @media(max-width:768px) {
            .title {
                display: none;
                background-color: white;
                padding: 10px 20px 10px 30px;
                border-radius: 50px;
            }
            .ball {
                img {
                    height: 70px;
                }
            }
        }
    }

    &:hover {
        transform : scale(1);
        opacity: 1;
        text-decoration: none;
        color: #238931;
    }
}

@media(max-width:768px) {
    .floating-area {
        .floating-wpp {
            opacity: .7;
        }
    }
}