.feed-instagram {
    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image : url('/previous.png');
            height: 50px;
        }
        
    }
    .carousel-control-next {
        .carousel-control-next-icon {
            background-image : url('/next.png');
            height: 50px;
        }
    }
}