@import "variables";
@import "~bootstrap/scss/bootstrap";
@import '~nprogress/nprogress.css';

html {
	scroll-behavior: smooth;
}

.cursor-pointer{
	cursor: pointer!important;
}

@media (max-width: 991px) {
	h1 {
		font-size: 2.5rem;
    }
    .navbar-brand {
        img {
            height: 50px;
        }
    }
}
@media (min-width: 992px) {
	h1 {
		font-size: 3.5rem;
	}
}


button {
	&:focus {
		outline: unset;
	}
}

.top-contact {
	background-color: #efefef;
}

.muted-icon {
	color : rgba(0, 0, 0, 0.5);
	&:hover {
		color : #656565;
		transition:.4s;
	}
}

footer {
	&.footer {
		border-top: 1px solid #f6f6f6;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.gradient-bar {
	height: 5px;
    width: 100%;
    background: rgb(3,54,23);
    background: linear-gradient(90deg, rgba(3,54,23,1) 13%, rgba(124,131,23,1) 31%, rgba(255,127,0,1) 48%, rgba(120,133,24,1) 66%, rgba(111,139,25,1) 83%, rgba(25,139,113,1) 100%);
}

.floating-area {
    position: fixed;
    bottom: 140px;
    right: 20px;
    z-index: 999;
    transition: .4s;
    transform : scale(.95);
    opacity: .7;
    .floating-wpp {
        color: #3fc250;
        font-weight: 800;
        text-decoration: unset;
        .ball {
            position: absolute;
            left: -50px;
            top: -25px;
            border-radius: 100%;
            img {
                height: 75px;
            }
        }
        .title {
            background-color: white;
            padding: 10px 20px 10px 30px;
            border-radius: 50px;
        }
        @media(max-width:768px) {
            .title {
                display: none;
                background-color: white;
                padding: 10px 20px 10px 30px;
                border-radius: 50px;
            }
            .ball {
                img {
                    height: 60px;
                }
            }
        }
    }

    &:hover {
        transform : scale(1);
        opacity: 1;
        text-decoration: none;
        color: #238931;
    }
}

@media(max-width:768px) {
    .floating-area {
        .floating-wpp {
            opacity: .7;
        }
    }
}

.carousel-image {
    color : white;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    &.mobile {
        height: 350px;
    }
    strong {
        font-size: 60px;
    }
    @media(max-width:768px) {
        strong {
            font-size: 35px;
        }
    }
}

.text-mudas {
    color : #6E8D0D;
}

.text-brown {
    color : #331200;
}

.container-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border:unset;
        height: 100%;
    }
}


.bg-green {
    background-color:#f6fff8;
}

.leaf-bg {
    opacity: .2;
}

.square-250 {
    cursor: pointer;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding : 0;
    margin-bottom: 20px;
    .container-tree {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        &.green {
            background-color: #1b9f4485;
        }
        &.purple {
            background-color:#c244d85c;
        }
        &.black {
            background-color :#00000091;
        }
        width: 100%;
        .title {
            font-size : 30px;
            font-weight: bolder;
            text-align: center;
        }
        .description {
            width: 75%;
            text-align: center;
        }
    }
}

@media(max-width:768px) {
    .square-250 {
        border-radius: unset;
        .container-tree {
            visibility: visible;
            border-radius: unset;
        }
    }
}
@media(max-width:768px) {
    .text-sm-center {
        text-align: center!important;  
    }
}

.testimonial-card {
    border : 2px solid #efefef!important;
    margin-top: 30px;
    margin-bottom: 50px;
    border: unset;
    img {
        position: relative;
        top: -80px;
        border: 15px solid white;
    }
}

.text-tree {
    color : #702020;
}