@import "variables";
@import "~bootstrap/scss/bootstrap";
@import '~nprogress/nprogress.css';

html {
	scroll-behavior: smooth;
}

.cursor-pointer{
	cursor: pointer!important;
}

@media (max-width: 991px) {
	h1 {
		font-size: 2.5rem;
    }
    .navbar-brand {
        img {
            height: 50px;
        }
    }
}
@media (min-width: 992px) {
	h1 {
		font-size: 3.5rem;
	}
}

button {
	&:focus {
		outline: unset;
	}
}

.text-mudas {
    color : #6E8D0D;
}

.text-brown {
    color : #331200;
}

.bg-green {
    background-color:#f6fff8;
}

@media(max-width:768px) {
    .text-sm-center {
        text-align: center!important;  
    }
}

.f-50 {
    font-size: 40px;
}

@media(max-width:768px) {
    .f-50 {
        font-size: 30px;
    }
}